/* Aplica box-sizing border-box a todos los elementos y reinicia márgenes y rellenos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Establece altura del 100% para <html> */
html {
    height: 100%;
}

/* Define estilos para el <body> */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

/* Estilos para los elementos dentro de .container-grid */
.container-grid>* {
    box-shadow: -1px 1px 7px 0px rgb(0, 0, 0);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

/* Estilos para áreas específicas de la cuadrícula */
.header {
    grid-area: header;
    background-color: aqua;
}

.navbar {
    grid-area: navbar;
    background-color: aquamarine;
}

.main {
    grid-area: main;
    background-color: azure;
}

.sidebar {
    grid-area: sidebar;
    background-color: beige;
}

.footer {
    grid-area: footer;
    background-color: bisque;
}

/* Define la cuadrícula para pantallas pequeñas */
.container-grid {
    display: grid;
    gap: 10px;
    background-color: rgb(70, 9, 127);
    grid-template:
        "header" 100px
        "navbar" 50px
        "sidebar" auto
        "main" 100px
        "footer" 100px;
}

/* Cambios para pantallas >= 768px  */
@media screen and (min-width: 768px) {
    .container-grid {
        background-color: rgb(43, 55, 226);
        grid-template:
            "header header" 50px
            "navbar navbar" 100px
            "sidebar main" auto
            "footer footer" 100px /
            200px auto;
            gap: 12px;

    }
}

/* Cambios para pantallas >= 1024px */
@media screen and (min-width: 1024px) {
    .container-grid {
        background-color: rgb(226, 76, 43);
        grid-template:
            "header header" 50px
            "navbar navbar" 100px
            "sidebar main" auto
            "footer footer" 100px /
            100px auto;
            gap: 15px;
    }
}

/* Cambios para pantallas >= 1200px */
@media screen and (min-width: 1200px) {
    .container-grid {
        background-color: rgb(46, 226, 43);
        grid-template:
            "header header header" 100px
            "navbar main sidebar" auto
            "footer footer footer" 200px /
            200px auto 200px;
            gap: 20px;

    }
}